.bundle/
.sass-cache/
.DS_Store
tmp/**/*
*.db
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.swp
*.swo
design
sinatra.log
*.csv

# YARD artifacts
.yardoc
_yardoc
doc/
