#footer
  .container.center
    %a{:href => "/"} Home
    %a{:href => "/about"} About
    %a{:href => "/pricing"} Pricing
    %a{:href => "/terms"} Terms
    %a{:href => "/privacy"} Privacy
    %span.muted Copyright &copy; 2013 The Resume Drop
