#footer
  .container.center
    %a{:href => "/"} Home
    %a{:href => "/about"} About
    %a{:href => "/pricing"} For employers
    %a{:href => "/privacy"} Privacy
    %span.muted Copyright &copy; 2013 The Resume Drop
