.container
  %br
  .row
    .span8{:class => "offset2"}
      %ul{:class => "nav nav-pills"}
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/about"} About
        %li
          %a{:href => "/employers"} Employers
        %li
          %a{:href => "/terms"} Terms
        %li
          %a{:href => "/privacy"} Privacy
        %li{:class => "copyright"} Copyright &copy; 2011 The Resume Drop
