%meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
%meta{:name => "lang", :content => "en"}
%meta{:name => "verityownershio", :content => "1d06c2443cbef84c2a91565d85b3bd28"}
%link{:href=>'/css/bootstrap.min.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
%link{:href=>'/css/font-awesome.min.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}
%link{:href=>'/css/application.css', :rel => 'stylesheet', :media => "screen", :type => "text/css"}

%link{:rel => "shortcut icon", :type => "image/png", :href => "/img/favicon.png"}

%link{:href => 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400', :rel => 'stylesheet', :type => 'text/css'}

%script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
