.container
  .row
    .span4
      %img{:src => "/images/logo.png", :title => "TRD logo", :class => "logo"}
    .span8
      %form{:action => "/login", :method => "POST", :class => "form-inline form-horizontal pull-right"}
        %input{:type => "text", :placeholder => "Email", :class => "span2", :name => "email"}
        %input{:type => "password", :placeholder => "Password", :class => "password span2", :name => "password"}
        %button{:type => "submit", :class => "btn"} Log in
