%ul{:class => "nav nav-list well"}
  - if @user.nil?
    %li{:class => "nav-header"} The Resume Drop
    %li
      %a{:href => "/"}
        %i{:class => "icon-home"}
        Home
    %li
      %a{:href => "/about"}
        %i{:class => "icon-info-sign"}
        About
    %li
      %a{:href => "/pricing"}
        %i{:class => "icon-lock"}
        For employers
    %li
      %a{:href => "/terms"}
        %i{:class => "icon-list-alt"}
        Terms
    %li
      %a{:href => "/privacy"}
        %i{:class => "icon-eye-open"}
        Privacy

  - elsif @user.type == Student
    %li
      - if @user.photo.nil?
        %img{:src => "/img/anon.png", :class => "profilepic img-polaroid"}
      - else
        %img#photo{:src => "https://trd-assets.s3.amazonaws.com/#{@user.photo}", :class => "profilepic img-polaroid"}
    %li{:class => "nav-header"}= @user.name
    %li
      %a{:href => "/profile"}
        %i{:class => "icon-user"}
        Profile
    %li
      %a{:href => "/employers"}
        %i{:class => "icon-map-marker"}
        Employers
    %li
      %a{:href => "/jobs"}
        %i{:class => "icon-lock"}
        Jobs / Internships
    %li
      %a{:href => "/about"}
        %i{:class => "icon-info-sign"}
        About
    %li
      %a{:href => "/logout"}
        %i{:class => "icon-off"}
        Logout

  - elsif @user.type == Employer
    %li
      - if @user.photo.nil?
        %img{:src => "/img/nologo.png", :class => "profilepic"}
      - else
        %img#photo{:src => "https://trd-assets.s3.amazonaws.com/#{@user.photo}"}
    %li{:class => "nav-header"}= @user.name
    %li
      %a{:href => "/profile"}
        %i{:class => "icon-user"}
        Profile
    %li
      %a{:href => "/search"}
        %i{:class => "icon-map-marker"}
        Search
    %li
      %a{:href => "/about"}
        %i{:class => "icon-info-sign"}
        About
    %li
      %a{:href => "/logout"}
        %i{:class => "icon-off"}
        Logout
