- if @user.nil?
  %ul{:class => "nav nav-list"}
    %li{:class => "nav-header"} The Resume Drop
    %li
      %a{:href => "/"}
        %i{:class => "icon-home"}
        Home
    %li
      %a{:href => "/about"}
        %i{:class => "icon-info-sign"}
        About
    %li
      %a{:href => "/employers"}
        %i{:class => "icon-lock"}
        Employers
    %li
      %a{:href => "/terms"}
        %i{:class => "icon-list-alt"}
        Terms
    %li
      %a{:href => "/privacy"}
        %i{:class => "icon-eye-open"}
        Privacy

- elsif @user.type == Student
  - if @user.photo.nil?
    %img{:src => "/images/anon.png", :class => "profilepic"}
  - else
    %img{:src => "https://trd-assets.s3.amazonaws.com/#{@user.photo}", :class => "profilepic"}
  %ul{:class => "nav nav-list"}
    %li{:class => "nav-header"}= @user.name
    %li
      %a{:href => "/profile"}
        %i{:class => "icon-user"}
        Profile
    %li
      %a{:href => "/employers"}
        %i{:class => "icon-map-marker"}
        Employers
    %li
      %a{:href => "/jobs"}
        %i{:class => "icon-lock"}
        Jobs / Internships
    %li
      %a{:href => "/about"}
        %i{:class => "icon-info-sign"}
        About
    %li
      %a{:href => "/logout"}
        %i{:class => "icon-off"}
        Logout

- elsif @user.type == Employer
  - if @user.photo.nil?
    %img{:src => "/images/anon.png", :class => "profilepic"}
  - else
    %img{:src => "https://trd-assets.s3.amazonaws.com/#{@user.photo}", :class => "profilepic"}
  %ul{:class => "nav nav-list"}
    %li{:class => "nav-header"}= @user.name
    %li
      %a{:href => "/profile"}
        %i{:class => "icon-user"}
        Profile
    %li
      %a{:href => "/search"}
        %i{:class => "icon-map-marker"}
        Search
    %li
      %a{:href => "/about"}
        %i{:class => "icon-info-sign"}
        About
    %li
      %a{:href => "/logout"}
        %i{:class => "icon-off"}
        Logout
