%h1 About us
%p The Resume Drop helps you connect with top employers and recruiters. We help to put you in a position to be considered for internships and full time positions by the banks, consulting firms, public service groups, and other firms that we partner with.

%p When you create a profile and upload your resume, you join the Resume Drop's exclusive network. Recruiters regularly post opportunities on the site; recruiters also search our network for candidates for internships, scholarships, full time positions, and other opportunities. Based on the information you enter - such as industry interest, school, your resume, etc. - recruiters determine where you would best fit within their respective firms.

%h1 How it works
%br
%p When you join The Resume Drop, you gain increased access to a wide range of employers. Employers regularly post opportunities such as full-time positions, internships, and scholarships on the site. You can browse these opportunities and get connected with the employers that interest you. Instead of going to a dozen recruiting events every week and stressing out about recruiting, you can log on to the Resume Drop and take control of the recruiting process.

%p Additionally, based on your profile information and resume, companies that recruit with us will consider you for various opportunities at their firms. You can indicate what industries interest you, your concentration, your extra-curricular activities, and other information that will help recruiters find opportunities for you within their respective firms.