%h1{:class => "center"} Step 1 of 3: Personal
%br
%h3 Tell us a little about yourself.
%br
/.row
/  .span9
/  - unless @error.nil
/    %div{:class => "alert alert-error"}= @error

/ %br
%form{:method => "POST", :action => "#"}
  .row
    .span4
      %input{:name => "first_name", :type => "text", :placeholder => "Full name"}
  %br
  .row
    .span3
      %input{:name => "secondary_email", :type => "text", :placeholder => "Personal Email"}
    .span3
      %select{:name => "gender"}
        %option Gender
        %option Male
        %option Female
    .span3
      %input{:name => "birthday", :type => "text", :placeholder => "Birthday (mm/dd/yyyy)"}
  %br
  .row
    .span3
      %select{:name => "interest1"}
        %option Interest One
        %option
    .span3
      %select{:name => "interest2"}
        %option Interest Two
        %option
    .span3
      %select{:name => "interest3"}
        %option Interest Three
        %option  
  %br
  .row
    %div{:class => "pull-right"}
      %a{:class => "btn btn-large", :href => "/update/skip"} Skip this step
      %a{:class => "btn btn-primary btn-large", :href => "#"}
        Save and continue
        %i{:class => "icon-play icon-white"}