%h1.center Forgot your password?
%br
- unless @message.nil?
	.alert= @message
- if @success.nil?
	%h4 No problem. Enter your email address below, and we'll send you a link to change it.
	%br
	%form{:method => "POST", :action => "/forgotpassword", :class => "center form-inline"}
		%input{:type => "text", :placeholder => "Email address", :name => "email", :class => "span3"}
		%input{:type => "submit", :class => "btn btn-primary login-btn", :value => "Request reset"}
- else
	%h4= @success