!!!
%html
  %head
    %title TRD Frontpage
    = haml :_head
    :css
      #bg { position: fixed; top: 0; left: 0; z-index:-100; }
      .bgwidth { width: 100%; }
      .bgheight { height: 100%; }
      h1 { color: white; font-size:70px; line-height:1em; }
      #top {
        background-color:rgb(255,255,255);
        /* background-color:rgba(255,255,255,0.6); */
        padding:22px 0 0;
      }
      #top form {
        position:relative;
        bottom:2px;
      } 
      #content {
        margin-top:30px;
      }
      #register form {
        background-color:rgba(255,255,255,0.6);
        padding:15px 0 20px 35px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
      }
      #register input { border:1px solid #aaa; }
      h3 { color: white; }
      #footer { color:white; }
      #footer a { color: white; }
      #footer .muted { color: white; }

  %body
    %img{:src => "/img/corbis2.jpg", :id => "bg"}
    #wrap
      #top
        .container
          .row
            .span4
              %img{:src => "/img/logo.png"}
              -# %h2{:style => "opacity:0.8"} <span style="opacity:0.6">THE</span>RESUME<span style="opacity:0.6">DROP</span>
            .span8
              %form{:action => "/login", :method => "POST", :class => "form-inline pull-right"}
                %input{:type => "text", :placeholder => "Email", :class => "span2", :name => "email"}
                %input{:type => "password", :placeholder => "Password", :class => "span2", :name => "password"}
                %button{:type => "submit", :class => "btn"} Log in

      .container 
        .row#content
          .span5
            %h1 Get noticed. <br/ >Get hired.
            %h3 Top talent for the top spots.
          .span4.offset3#register
            %form{:id => "register", :action => "#", :method => "POST"}
              %h4 Sign up now. It's free.
              %fieldset
                .control-group
                  .controls
                    %input.input-large{:type => "text", :placeholder => "Name", :name => "name"}
                    %span{:class => "help-inline hide"} Name is required.
                .control-group
                  .controls
                    %input.input-large{:type => "text", :placeholder => "University Email", :name => "email"}
                    %span{:class => "help-inline hide"} Email is required.
                .control-group
                  .controls
                    %input.input-large{:type => "password", :placeholder => "Password", :name => "password"}
                    %span{:class => "help-inline hide"} Password is required.
                .control-group
                  .controls
                    %button{:type => "submit", :class => "btn btn-success btn-large"} Sign up
      #push

    = haml :_footer


    :javascript
      $(window).load(function() {    
        var theWindow        = $(window),
            $bg              = $("#bg"),
            aspectRatio      = $bg.width() / $bg.height();
                          
        function resizeBg() {
          if ( (theWindow.width() / theWindow.height()) < aspectRatio ) {
            $bg.removeClass().addClass('bgheight');
          } else {
            $bg.removeClass().addClass('bgwidth');
          }
        }
        theWindow.resize(resizeBg).trigger("resize");
      });
