.container
  .row
    / leftpane
    .span5
      .hero-unit
        %h1 Get noticed.
        %h1 Get hired.
        %h2 Top talent for the top spots.
      %p <strong>Sign up now. It's free.</strong>
      - unless @error.nil?
        %br/
        %div{:class => "alert alert-error"}= @error
      - unless @success.nil?
        %br/
        %div{:class => "alert alert-success"}= @success
      %form{:id => "register", :action => "#", :method => "POST"}
        %fieldset
          .control-group
            .controls
              %input{:type => "text", :placeholder => "Name", :class => "span3", :name => "name"}
              %span{:class => "help-inline hide"} Name is required.
          .control-group
            .controls
              %input{:type => "text", :placeholder => "University Email", :class => "span3", :name => "email"}
              %span{:class => "help-inline hide"} Email is required.
          .control-group
            .controls
              %input{:type => "password", :placeholder => "Password", :class => "span3", :name => "password"}
              %span{:class => "help-inline hide"} Password is required.
          .control-group
            .controls
              %button{:type => "submit", :class => "btn btn-success btn-large"} Sign up

    / rightpane
    .span7
      %img{:src => "/images/plant.png", :class => "splash span6"}
