%h1 Job postings
%br

- unless @error.nil?
  .row
    .span9{:class => "alert alert-error"}= @error

.row
  .span8
    - unless @postings.nil?
      %table{:class => "table table-hover"}
        %thead
          %tr
            %th Company
            %th Position
            %th Place
            %th Deadline
        %tbody
          - @postings.each do |p|
            %tr
              %td
                %a{:href => "/profile/#{h p.employer.handle}"}=h p.employer.name
              %td=h p.position
              %td=h p.place
              %td=h p.deadline.strftime("%B %d, %Y")
