%h1 Login

- unless @error.nil?
  .alert= @error

- if @success.nil?
  %form{:method => "POST", :action => "", :class => "form-horizontal"}
    .control-group
      %label.control-label Email
      .controls
        %input{:type => "text", :placeholder => "Email", :name => "email"}
    .control-group
      %label.control-label Password
      .controls
        %input{:type => "password", :placeholder => "Password", :name => "password"}
    .control-group
      .controls
        %button{:type => "submit", :class => "btn btn-primary btn-large"} Log in
- else 
  .alert.alert-success
    = @success
