%b{:class => "yellow center"} We either couldn't match an email with that password, or this account has not been activated yet. Try again. Make sure you don't have caps lock on.
%br
%br
%form{:class => "form-inline form-horizontal center"}
  %input{:type => "text", :value => "Email", :class => "span3"}
  %input{:type => "text", :value => "Password", :class => "password span3"}
  %a{:href => "#", :class => "btn btn-primary btn-large login-btn"} Log in
.row{:class => "center"}
  %a{:href => "#"} Not a member?
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  %a{:href => "#"} Forgot your password?