%h1.center Reset password
- unless @message.nil?
	.alert= @message
- unless @success.nil?
	%h4= @success
- if @success.nil?
	%form{:method => "POST", :action => "/passwordreset", :class => "center"}
		%input{:type => "hidden", :name => "k", :value => @k}
		%input{:type => "text", :placeholder => "New password", :name => "pass1", :class => "span3"}
		%br
		%input{:type => "text", :placeholder => "New password (again", :name => "pass2", :class => "span3"}
		%br
		%input{:type => "submit", :class => "btn btn-primary btn-large login-btn span3", :value => "Set password"}