%h2 Privacy Policy

%p The mission of MyGrad is to connect the students (and graduates) of the world's top academic institutions with employers and recruiters from quality firms and growing companies. We do our best to keep MyGrad safe.
%p We employ a variety of security measures to protect your information. Help us protect your information by keeping your password safe, refraining from using others' accounts, and refraining from letting others use your account. 
%br

%strong What information do we collect?
%p We collect information when you register to the site and when you fill out forms. Some of the information we collect includes name, email address, school, industry interest, etc.
%br

%strong What do we use this information for?
%p We use the information in the following ways:
%ul
  %li To personalize your experience (your information helps us better respond to your individual needs)
  %li To help find employers that fit your interests
  %li To improve our website (we constantly strive to improve our website, and better cater to our users)
%br

%strong How do we protect your information?
%p We employ a variety of security measures to protect your information ; all information that you provide is protected with industry standard protocols, technology, and practices

%p Other users cannot see your information; only employers can see your information

%p If you have any questions about our privacy policy, please contact us.
