%h3 The Resume Drop Privacy Policy
%br

%p The mission of the Resume Drop is to connect the students (and graduates) of the world’s top academic institutions with employers and recruiters from quality firms and growing companies. Your privacy is of the utmost importance to us. Below is our privacy policy.
%br

%strong What information do we collect?
%p We collect information when you register to the site and when you fill out forms—some of the information we collect includes name, email address, school, industry interest, etc.)
%br

%strong What do we use this information for?
%p We use the information in the following ways:
%ul
  %li To personalize your experience (your information helps us better respond to your individual needs)
  %li To help find employers that fit your interests
  %li To improve our website (we constantly strive to improve our website, and better cater to our users)
%br

%strong How do we protect your information?
%p We employ a variety of security measures to protect your information ; all information that you provide is protected with industry standard protocols, technology, and practices

%p Other users cannot see your information; only employers can see your information

%p If you have any questions about our privacy policy, please contact us.