.span9
- unless @error.nil?
  %div{:class => "alert alert-error"}= @error
%h1 Search Candidates
%br
%h2 Include any and all information you would like to select for.
%br

%form{:method => "GET", :action => "#"}
  .row
    .span3
      %input{:name => "school", :type => "text", :placeholder => "School"}
  %br
  .row
    .span2
      %input{:name => "class", :type => "text", :placeholder => "Class", :class => "span1"}
  %br    
  .row
    .span3
      %input{:name => "name", :type => "text", :placeholder => "Name"}
  %br    
  .row
    .span3
      %input{:name => "major", :type => "text", :placeholder => "Major"}
    .span3
      %input{:name => "minor", :type => "text", :placeholder => "Minor"}
  %br
  .row
    .span2
      %input{:name => "gpa", :type => "text", :placeholder => "Minimum GPA", :class => "span2"}
  %br
  .row
    .span3
      %select{:name => "interest1"}
        %option Interest One
        %option
    .span3
      %select{:name => "interest2"}
        %option Interest Two
        %option
    .span3
      %select{:name => "interest3"}
        %option Interest Three
        %option
  %br
  .row
    .span3
      %button{:type => "submit", :class => "btn btn-success btn-large"} Search

- if @results
  .row
    .span9
      %table{:class => "table table-striped"}
        %thead
          %tr
            %th
            %th Name
            %th School
            %th Major
            %th Minor
            %th Class
        %tbody
          - @results.each do |r|
            %tr
              %td
                %img{:src => "https://trd-assets.s3.amazonaws.com/#{h r.photo}", :class => "span1"}
              %td
                %a{:href => "/profile/#{h r.id}"}=h r.name
              %td=h r.school
              %td=h r.major
              %td=h r.minor
              %td=h r.class.strftime("%Y")
