.row
  .span9
  - unless @error.nil?
    %div{:class => "alert alert-error"}= @error
%br
%h1 Scott Sansovich
%br

/education
.row
  .span10
    %h2 Education
    .row
      .span2 School
      .span2 Harvard University
      %i{:class => "icon-pencil"}
    .row
      .span2 Major
      .span2 English
      %i{:class => "icon-pencil"}
    .row
      .span2 Minor
      .span2 Computer Science
      %i{:class => "icon-pencil"}
    .row
      .span2 Class year
      .span2 2013
      %i{:class => "icon-pencil"}
%br

/ work experience
.row
  .span3
    %span
      %h2 Work Experience
.row
  .span6
    %strong Intern at Goldman-Sachs
    %span (May 2011 - July 2011)
    %i{:class => "icon-pencil"}
    .row
      .span6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat nulla vel purus ultricies ullamcorper. Aliquam nisl odio, gravida id sodales sed, mollis cursus ipsum. Pellentesque pellentesque, nibh sit amet ornare facilisis, leo metus ultrices ligula, vel dictum tellus augue sed lectus.
%br
.row
  .span6
    %strong Intern at Goldman-Sachs
    %span (May 2011 - July 2011)
    %i{:class => "icon-pencil"}
    .row
      .span6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat nulla vel purus ultricies ullamcorper. Aliquam nisl odio, gravida id sodales sed, mollis cursus ipsum. Pellentesque pellentesque, nibh sit amet ornare facilisis, leo metus ultrices ligula, vel dictum tellus augue sed lectus.
%br

/ extracurriculars
.row
  .span3
    %span
      %h2 Extracurriculars
.row
  .span6
    %strong Intern at Goldman-Sachs
    %span (May 2011 - July 2011)
    %i{:class => "icon-pencil"}
    .row
      .span6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat nulla vel purus ultricies ullamcorper. Aliquam nisl odio, gravida id sodales sed, mollis cursus ipsum. Pellentesque pellentesque, nibh sit amet ornare facilisis, leo metus ultrices ligula, vel dictum tellus augue sed lectus.
%br
.row
  .span6
    %strong Intern at Goldman-Sachs
    %span (May 2011 - July 2011)
    %i{:class => "icon-pencil"}
    .row
      .span6
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat nulla vel purus ultricies ullamcorper. Aliquam nisl odio, gravida id sodales sed, mollis cursus ipsum. Pellentesque pellentesque, nibh sit amet ornare facilisis, leo metus ultrices ligula, vel dictum tellus augue sed lectus.

%br
/ contact
.row
  .span10
    %h2 Contact
    .row
      .span2 Primary email
      .span4
        ssansovich@college.harvard.edu
        %i{:class => "icon-pencil"}
    .row
      .span2 Personal email
      .span4
        ssansovich@gmail.com
        %i{:class => "icon-pencil"}