.row
  .span6
    %h1 Create employer account
    .row
      .span6
      - if !@success.nil?
        %br
        .span5{:class => "alert alert-success"}= @success

      - elsif !@error.nil?
        %br
        .span5{:class => "alert alert-error"}= @error

    %br

    %form{:method => "POST", :action => "", :id => "employer_subscribe"}
      .row
        .span3
          %input{:name => "name", :type => "text", :placeholder => "Company name"}
      %br
      .row
        .span6
          %input{:name => "url", :type => "text", :placeholder => "Company website"}
          %p{:class => "help-block"} Ex. http://www.theresumedrop.com
      %br
      .row
        .span6
          %input{:name => "handle", :type => "text", :placeholder => "Handle"}
          %p{:class => "help-block"} Ex. http://www.theresumedrop.com/employers/YOUR_HANDLE
      %br
      .row
        .span6
          %input{:name => "email", :type => "text", :placeholder => "Email"}
          %p{:class => "help-block"} Please enter the email address of the primary contact for this account.
      %br
      .row
        .span6
          %input{:name => "phone", :type => "text", :placeholder => "Phone number"}
          %p{:class => "help-block"} Please enter the phone number of the primary contact for this account. Please do not use the corporate phone number if this is not applicable.
      %br
      .row
        .span3
          %input{:name => "password", :type => "password", :placeholder => "Password"}
      %br
      .row
        .well{:class => "span3"}
          %h3 Credit card
          %br
          .row
            .span3
              %input{:class => "card-number", :type => "text", :placeholder => "Credit card number"}
          .row
            .span2
              %input{:class => "span2 card-expiry", :type => "text", :placeholder => "Exp. date (MM/YY)"}
            .span1
              %input{:class => "span1 card-cvc", :type => "text", :placeholder => "CCV"}

      %br
      .row
        %button{:type => "submit", :class => "btn btn-large btn-success span3 submit-button"}
          Submit and continue
          %i{:class => "icon-white icon icon-play"}
      %br
  .span3
    .well
      - if params[:plan] == 'starter'
        %h3 Selected: Starter
        %h4{:class => 'green'} $150/mo
        %p The Starter plan allows you to check out what The Resume Drop is all about. <strong>You are limited to 5 job postings and 50 PDF resumes per month.</strong>
        %p You will be able to build a company profile and make customized searches for candidates.
        %p You can <a href="/pricing">upgrade now</a> or at anytime. The choice is yours!
      - if params[:plan] == 'standard'
        %h3 Selected: Standard
        %h4{:class => 'green'} $300/mo
        %p The Standard plan gives most companies the flexibility they need to get the most out of The Resume Drop. <strong>You are still limited to 15 job postings and 250 PDF resumes per month.</strong>
        %p You will be able to build a company profile and make customized searches for candidates.
        %p You can <a href="/pricing">upgrade now</a> or at anytime. The choice is yours!
      - if params[:plan] == 'executive'
        %h3 Selected: Executive
        %h4{:class => 'green'} $500/mo
        %p The Executive plan provides the most power and flexibility. <strong>You have unlimited access to resumes and unlimited job listing capabilities..</strong>
        %p You will be able to build a company profile and make customized searches for candidates.
