%h1 The Resume Drop Terms
%br

%h3 Purpose
%p The purpose of the Resume Drop is to connect top students and candidates with top firms, making the recruiting process easier and less stressful, and helping students be more successful.

%h3 Privacy
%p Your privacy is very important to us. Our privacy policy explains how we use the Resume Drop to help you connect with top firms. We encourage you to read our privacy policy.

%h3 Safety
%p We do our best to keep the Resume Drop safe. We employ a variety of security measures to protect your information. Keep your password safe, refrain from using others' accounts, and refrain from letting others use your account.

%h3 Good judgment and good faith
%p Please use your good judgment when using the Resume Drop and use the site in good faith. For example, do not provide false personal information, collect users' information, access an account belonging to someone else, or otherwise use the Resume Drop to act in a misleading, unlawful, or malicious manner.

%p Thank you.