/* ==== Common ==== */

html, body {
  height:100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Source Sans Pro", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:500;
}

.dateinput {
  width: 90px;
}

.center {
	text-align:center;
}

.hidden {
  display:none;
}

/* ==== INDEX ==== */


#index #bg { position: fixed; top: 0; left: 0; z-index:-100; }
#index .bgwidth { width: 100%; }
#index .bgheight { height: 100%; }
#index h1 { color: white; font-size:70px; line-height:1em; }
#index #top {
  background-color:rgb(255,255,255);
  /* background-color:rgba(255,255,255,0.6); */
  padding:22px 0 0;
}
#index #top form {
  position:relative;
  bottom:2px;
} 
#index #main {
  margin-top:30px;
}
#index #register form {
  background-color:rgba(255,255,255,0.6);
  padding:15px 0 20px 35px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#index #register input { border:1px solid #aaa; }
#index h3 { color: white; }
#index #footer { color:white; }
#index #footer a { color: white; }
#index #footer .muted { color: white; }

/* ==== NAVIGATION ==== */

.profilepic {
  width:70%;
  margin:0px 24px 10px;
}

/* ==== TOP ==== */

.navbar {
	margin:0px 0px 25px 0px;
}

.navbar-inner {
  height:34px;
	padding:10px 0px 6px 0px;
  background: #fafafa;
  border-bottom:1px solid #ddd;
}

.logo {
  padding:5px 0px;
}

.navbar-inner button {
  position:relative;
  bottom:2px;
}

/* ===== BODY ===== */

.student-profile-pic {
  position:relative;
  top:12px;
}

textarea {
	height:80px;
}

form strong {
  line-height:2.1em;
}

.deadline {
	font-weight:normal;
	padding-left:20px;
}

.edit-icon, .add-icon {
	cursor:pointer;
	opacity:0.5;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position:absolute;
  font-size:0.6em;
  margin-left:15px;
  line-height:2.4em;
}

.edit-icon {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.add-cancel {
	opacity:1.0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.remove {
	margin-left:15px;
	opacity:0.4;
}

.remove:hover {
	opacity:0.6;
}

/* ==== UPLOAD DISPLAY ==== */

.file-upload {
  display:none;
}

/* ==== INDEX ==== */

.hero-unit {
  padding:0;
  background-color:#fff;
}

/* ==== FOOTER (sticky)==== */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, footer {
  height: 60px;
}

#footer {
  height:20px;
  padding:20px 0;
}

#footer a {
  margin:0 14px;
}

/* ==== CONTACT ==== */

#contact-button {
  position:fixed;
  bottom:20px;
  right:20px;
  padding:12px 16px;
  outline:none;
}

.modal-body textarea {
  width:97%;
  height:200px;
}
