/* ==== Common ==== */
.center {
	text-align:center;
}

.light-header {
	color:#ccc;
}

/* ==== Header ==== */

#top {
    padding:16px 0px;
    margin-bottom:30px;
}

.logo {
	margin:5px 0px 0px 0px;
}

/* ===== Body ===== */

h1 {
    font-size:5em;
    line-height:1.2em;
}

.splash img {
    margin:20px 0px;
}

/* ==== Footer ==== */

footer {
	text-align:center;
	width:520px;
	margin:30px auto 0px auto;
}

.copyright {
	position:relative;
	top:9px;
	left:14px;
}
