/* ==== Common ==== */
.center {
	text-align:center;
}

.light-header {
	color:#ccc;
}

/* ==== Header ==== */

#top {
    padding:16px 0px;
    margin-bottom:30px;
}

.logo {
	margin:5px 0px 0px 0px;
}

/* ===== Body ===== */

h1 {
    font-size:5em;
    line-height:1.2em;
}

#register {
    margin-top:10px;
}

#register input {
	font-size:20px;
    line-height:1.2em;
	padding:10px;
}

.splash img {
    margin:20px 0px;
}

.cologo {
	display:inline;
	height:45px;
	margin:0px 20px;
}

#morelogos {
	font-size:1.7em;
	padding:11px 13px;
}

/* ==== Footer ==== */

footer {
	text-align:center;
	width:520px;
	margin:30px auto 0px auto;
}

.copyright {
	position:relative;
	top:9px;
	left:14px;
}
