/* ==== Common ==== */

h1, h2, h3, h4, h5, h6 {
    font-family:"Source Sans Pro", "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:500;
}

.dateinput {
  width: 90px;
}

.center {
	text-align:center;
}

.green {
	color:#468847;
}

.yellow {
	color:#c09853;
}

.red {
	color:#b94a48;
}

.red:hover {
    color:#b94a48;
}

.bold {
	font-weight:bold;
}


.gray {
	color:#676767;
}

.larger {
	font-size:1.3em;
	position:relative;
	bottom:3px;
}
/* ==== Navbar ==== */

.well {
    box-shadow:0px 0px #ddd;
    border:1px solid #ddd;
}

.nav-list {
	padding:0px;
}

.profilepic {
	padding:0px 0px 15px 0px;
}

/* ==== Header ==== */

.navbar-inner {
	margin:0px 0px 25px 0px;
	padding:10px 0px;
    background: #fafafa;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-bottom:1px solid #ddd;
    box-shadow:0px 0px #fff;
}

/* ===== Body ===== */


#right {
	min-height:500px;
}

textarea {
	height:80px;
}

.deadline {
	font-weight:normal;
	padding-left:20px;
}

.edit {
	cursor:pointer;
	position:relative;
	top:10px;
	left:10px;
	opacity:0.5;
}

.edit:hover {
	opacity:1.0;
}

#education {
	line-height:2em;
}

.remove {
	margin-left:15px;
	opacity:0.4;
}

.remove:hover {
	opacity:0.6;
}

/* ==== Images for employer page. ==== */
.employer-logo {
	width: 200px;
	margin:0px;
	margin-bottom:20px;
}

/* ==== Footer ==== */

footer {
	text-align:center;
	width:520px;
	margin:0px auto;
}

.copyright {
	position:relative;
	top:9px;
	left:14px;
}

/* ==== Search ==== */

.photothmb {
	max-width:80px;
	max-height:80px;
}
